iframe[seamless] {
  border: none;
}

.theme-bologna {
  --color-background: #005c95;
  --color-font: #000000;
}

.theme-bolzano {
  --color-background: #f4d100;
  --color-font: #000000;
}

.theme-calabria {
  --color-background: #0180ff;
  --color-font: #000000;
}

.theme-piemonte {
  --color-background: #8c1c34;
  --color-font: #ffffff;
}

.themable {
  background: var(--color-background);
}

.themable h1,
.themable h2,
.themable h3,
.themable h4,
.themable h5,
.themable h6,
.themable p,
.themable label {
  color: var(--color-font);
}