iframe[seamless] {
  border: none;
}

.theme-bologna {
  --color-background: #8b4000;
  --color-font: #ffffff;
}

.theme-bolzano {
  --color-background: #0c4132;
  --color-font: #ffffff;
}

.theme-calabria {
  --color-background: #191970;
  --color-font: #ffffff;
}

.theme-piemonte {
  --color-background: #7a1e25;
  --color-font: #ffffff;
}

.theme-undefined {
  --color-background: #d36e70;
  --color-font: #ffffff;
}

.themable {
  background: var(--color-background);
}

.themable h1,
.themable h2,
.themable h3,
.themable h4,
.themable h5,
.themable h6,
.themable p,
.themable label {
  color: var(--color-font);
}